@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

:root {
    --background: #050505;
    --foreground: #ffffff;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-feature-settings: "ss01", "ss03", "cv01", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .glass-effect {
        @apply bg-white/5 backdrop-blur-md border border-white/10;
    }
}